/admin/node_modules
/client/node_modules
/server/node_modules
/seller/node_modules

/admin/public
/client/public
/seller/public

/client/jsonconfig.json
/client/next.config.mjs
/client/package-lock.json

/seller/jsonconfig.json
/seller/next.config.mjs
/seller/package-lock.json

/admin/package-lock.json


/server/package-lock.json